.page-container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background: url(../img/background.jpg);
    background-size: 1366px 768px;
}
/* HEADER */
.container {
    width: 1028px;
    margin: 0 auto;
}
.header {
    padding-top: 47px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    height: 51px;
    align-items: center;
}
.header-logo-img {
    width: 53px;
    height: 47px;
    background: url(../img/logo.jpg);
}
.header-logo:hover .header-logo-img {
    background: url(../img/logo-orange.jpg);
    transition-duration: 0.5s;
}
.header-logo-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 8px;
}
.header-logo-text-small {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.header-logo:hover .header-logo-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-contacts a:hover {
    color: #F26522;
    transition-duration: 0.5s;
}
/* MAIN */
.main-grid {
    display: grid;
    grid-template-columns: repeat(3,309px);
    grid-auto-rows: repeat(2,1fr);
    column-gap: 55px;
    row-gap: 37px;
}
.main-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}
.main-grid-item-img {
    width: 300px;
    height: 220px;
}
.main-grid-item-img img{
    width: 300px;
    height: 220px;
}
.main-grid-item-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
}
/* POP-UP */
.main-grid-item-pop-up {
    background-color: #F26522;
    position: absolute;
    top: 163px;
    width: 300px;
    padding: 7px 14px 12px 16px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.main-grid-item:hover .main-grid-item-pop-up {
    visibility: visible;
    opacity: 1;
}
.main-grid-item:hover .main-grid-item-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.main-grid-item-pop-up-info {
    display: flex;
    justify-content: space-between;
}
.main-grid-item-details{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 14px;
}
.main-grid-item-details::after {
    content: ">";
    margin-left: 16px;
}
.main-grid-item-price {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.main-grid-item-price-from {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}
/* FOOTER */
.footer {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 48px;
}

